@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-moonlight text-midnight;
}

@font-face {
  font-family: 'Nohemi';
  font-weight: normal;
  src: url('../../public/fonts/Nohemi-Regular.woff2');
}

@font-face {
  font-family: 'Nohemi';
  font-weight: bold;
  src: url('../../public/fonts/Nohemi-Bold.woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: normal;
  src: url('../../public/fonts/JetBrainsMono-Regular.woff2');
}

@font-face {
  font-family: 'Aspekta';
  font-weight: normal;
  src: url('../../public/fonts/Aspekta-400.woff2');
}
